.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0px;
}

.header__title {
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.header__search {
  border-radius: 10px;
  color: #BB945F;
  width: 600px;
  padding: 8px 20px;
  font-family: 'Roboto', cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.6px;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
  
  &:focus {
    transition: all 0.2s ease-in; 
    box-shadow: 0px 0px 10px #B8860B;
  }
}

.header__search::-webkit-input-placeholder {
  font-size: 15px;
  font-family: 'Inter', cursive;
  opacity: 0.6;
  color: #A0522D;
}

// Header icon styles
.header__wrapper {
  display: flex;
  position: relative;
  justify-content: center;
}

.header__input {
  display: flex;
  flex-direction: row;
  // gap: 10px;
}

.header__icon {
  display: block;
  position: relative;
  right: 64px;

  &:active {
    transform: scale(1.5);
  }
}

.header__icon-item {
  width: 100%;
  height: 100%;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-color: 1px;
  border-radius: 15px;
  background-color: $btn-color;
  color: $color-dark-x3;
  gap: 10px;
  padding: 10px;
}

.header__btn-title {
  font-family: $font-accent;
  font-size: 32px;  
}


@media (hover: hover) {
  .header__btn:hover {
    cursor: pointer;
    transition: all 0.3s ease-in;
  }

  .header__btn {
    cursor: pointer;
    transition: all 0.3s ease-in;    
  }
}