// Colors
$color-dark-xl: #4c4c4c;
$base-color: #fff;
$dark-color: #292929;
$color-dark-x2: #2b2424;
$color-dark-x3: #01071a;


// Fonts
$font-base: "Arial", sans-serif;
$font-accent: "Georgia", sans-serif;
$font-second-family: "Arial", sans-serif;